<div id="fun-wallet-leader">
  <div class="fun-wallet-container">
    <iframe
      allow="camera"
      id="funwallet-iframe"
      (load)="funWalletLoaded()"
      is-fun-wallet
      is-leader
    ></iframe>
  </div>
</div>
<div id="fun-wallet-darken"></div>

<div class="app">
  <div class="app-container">
    <img src="./assets/logo.svg" class="app-logo" alt="logo" />
    <p *ngIf="!(restoreAuthenticationTaskCompleted$ | async)">
      Loading please wait
    </p>
    <ng-container *ngIf="restoreAuthenticationTaskCompleted$ | async">
      <div class="action-buttons">
        <div
          class="logged-out-actions"
          *ngIf="!(isAuthenticationCompleted$ | async)"
        >
          <button (click)="walletService.login()">Login</button>
        </div>

        <div
          class="logged-in-actions"
          *ngIf="isAuthenticationCompleted$ | async"
        >
          <button (click)="signAMessage()">Sign message</button>
          <button (click)="sendSignedTransaction()">
            Send signed transaction
          </button>
          <button (click)="walletService.kycModalOpen()">Start KYC</button>
          <button (click)="walletService.logout()">Logout</button>
        </div>
      </div>

      <div class="wallet-follower">
        <iframe
          *ngIf="isAuthenticationCompleted$ | async"
          id="fun-wallet-follower"
          (load)="followerLoaded()"
          [src]="walletUrl | safe"
          is-fun-wallet
          is-follower
        ></iframe>
      </div>
    </ng-container>
  </div>
</div>
